<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список машин</title>
</head>
<body>
<h1>Список машин:</h1>
<hr>
<table th:border="2" th:bgcolor="yellow">
    <thead>
    <tr>
        <th>Производитель</th>
        <th>Модель</th>
        <th>Год выпуска</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.getBrand()}" th:align="center"></td>
        <td th:text="${car.getModel()}" th:align="center"></td>
        <td th:text="${car.getYear()}" th:align="center"></td>
    </tr>
    </tbody>
</table>
</body>
</html>